*{
  margin: 0;
}
body{
background: url(dokk.jpg);
background-repeat: no-repeat;
}
.oss{
  float: right;
  background: url(menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 22%;
  position: fixed;
  right: 0px;
}
#logo{
  position: fixed;
  right: 2.9%;
  height: 30%;
  margin-left: 15%;
  transition: 1s;
}
#logo:Hover{
  height: 31%;
}
div.hack{
position: fixed;
border-style: solid;
border-color: #E69910;
border-width: 5px;
padding: 10px;
border-radius: 10px;
right: 5%;
top: 30%;
transition: 1s;
}
div.hack:hover{
top: 29%;
border-color: gray;
}
p{
  font-weight: bolder;
  font-size: 30px;
  color: white;
}
#hk{
  padding-top: 60px;
  padding-bottom: 30px;
  width: 150px;
  left: 0px;
}
